.classpath
.project
.settings/
target/
out/
.DS_Store
test-output/
*.iml
.idea/
doc/
.classpath
.project
.settings/
target/
out/
.DS_Store
test-output/
*.iml
.idea/
doc/
*.zip
*-results.xml
*.log
*.txt
*-all.xml
*.zip
*-results.xml
*.log
*.txt
*-all.xml

